.carousel {
    margin: 20px auto;
    width: 100%; 
    background-color: red;
    border-radius: 20px;
    padding: 5px 3px 3px;
    color: inherit;
  }
  
.carousel-border{
display: flex;
justify-content: space-between;
gap: 10px; 
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.carousel img {
    height: 10vmin;
    margin-right: 20px;
}
  
.carousel-caption h2, .carousel-desc {
color: inherit;
text-align: left;
margin-left: 10px;
}

@media (max-width: 768px) {
    .carousel {
        width: 95%;
    }

    .carousel img {
        height: 25vmin;
        margin-right: 10px;
        margin-top: 20px;
    }
}

/* Media Query for Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
.carousel {
    width: 50%;
}
}